ul {
    background-color: black;
}
li {
    color: white;
}
p {
    width: 500px;
    font-size: 20px;
}
a {
    color: red;
}
h1 {
    width: 100px;
    border: 10px solid black;
}
