html,head,body{
    background-color: pink;
}
p#D {
    color: white;
    font-size: 50px;
    width: 1000px;
    padding: 0px 0px 0px 400px;
}
ul {
    background-color: rgb(29, 27, 27);
    color: white;
    width: 1137px;
    font-size: 20px;
}
h2 {
    width: 100px;
    border: 10px solid black;
}
img#A {
    width: 600px;
    padding: 50px 0px 5px 300px;
}
img#B {
    width: 30px;
    padding: 5px 0px 0px 4px;
}
button#C:hover {
    background-color: chartreuse;
}
button#C {
    font-size: 50px;
}
p#C {
    padding: 0px 0px 0px 300px;
}
button#Cc:hover {
    background-color: #805030;
}
button#Cc {
    font-size: 50px;
}